set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-sea01-10-101.zap-hosting.com;database=zap620961-1;userid=zap620961-1;password=hfIotyYVL1XSuDJu" 
endpoint_add_tcp "139.99.68.44:30310" 
endpoint_add_udp "139.99.68.44:30310" 
sv_maxclients 32
# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start bob74_ipl
start PvP
start trafficadjuster
exec resources/vMenu/config/permissions.cfg
add_ace group.admin "vMenu.Everything" allow
setr vmenu_bans_database_filepath "resources/vMenu/"
start vMenu
start mysql-async
set es_startingBank "100000"
set es_startingCash "1000"
start essentialmode
start esplugin_mysql
start es_admin2
start z-loadscreen
start minimapfix
start ocrp_postal_map
start discordroles
start DiscordWhitelist
start fivem-discord-bot
start jsfour-criminalrecord
## From ESX Pack ##
start async
start cron
start es_extended
start esx_addons_gcphone
start gcphone
start instance
start es_camera
start skinchanger
start esx_accessories
start esx_addonaccount
start esx_addoninventory
start esx_society
start esx_policejob
start esx_ambulancejob
start esx_animations
start esx_criminalrecords
#start esx_atm
start esx_bankerjob
start esx_barbershop
start esx_basicneeds
start esx_billing
start esx_boat
start esx_boilerplate
start esx_clotheshop
start esx_cruisecontrol
start esx_datastore
start esx_dmvschool
start esx_drugs
start esx_garage
start esx_holdup
start esx_identity
start esx_joblisting
start esx_jobs
start esx_license
start esx_lscustom
start esx_mechanicjob
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_optionalneeds
start esx_property
start esx_realestateagentjob
start esx_rpchat
start esx_service
start esx_supermarket
start esx_sit
start esx_skin
start esx_status
start esx_taxijob
start esx_vehicleshop
start esx_voice
start esx_weaponshop
## End of ESX Pack ##
start es_ui
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.sets allow
start rconlog
start esx_scoreboard
start pNotify
start LegacyFuel
start trew_hud_ui
start esx_inventoryhud
start new_banking
start ai_mechanic
start esx_extraitems
start esx_cityworks
start esx_drp_garage
start esx_np_skinshop
start esx_communityservice
start esx_givecarkeys
start esx_gopostal
start esx_gym
start esx_inventoryhud_glovebox
start esx_inventoryhud_trunk
start esx_invest
start esx_moneywash
start esx_outlawalert
start esx_mafia
start esx_traffic
start esx_truckerjob
start esx_vangelico_robbery
start esx_yacht
start esx-kr-bag-inventory
start esx-checkdeathcause
start CarryPeople
start ChairBedSystem
start dpemotes
start el_business
start FiveM-Point-finger
start handsup
start RichPresence
start tevi_carthief
start grangeillegal
#voipvoice#
start webpack
start yarn
start mythic_notify
start watermark
start mythic_notify
start watermark
start vannouncer
start ws_server
start tokovoip_script
start 3dme
start ls-radio
start hypnonema
start hypnonema-map
start BlipsBuilder
start esx_vehiclelock
start esx_doorlock
start esx_hifi
start gabz_pillbox_hospital
start hlabels

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 987654321

# A comma-separated list of tags for your server.
# For example:
# Or:

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
# please DO replace root-AQ on the line ABOVE with a real language! :)


# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "BOOLOGAM | TAMIL | RP | WHITELISTED | discord.gg/hqwF8R7a6c"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace identifier.steam:11000013f20abfe "command.hypnonema" allow
add_ace identifier.license:dfbcb8336d421659c81c2a2126a4c2b8a627721a "hlabels.hlrange" allow # this gives them access to the /hlrange command.
add_ace identifier.license:a5b1bb54491330681beb8794afba9914644764d8 "hlabels" allow # this gives them access to all features that this script provides.

# Hide player endpoints in external log output.
sv_endpointprivacy true

sets tags "role play, fun, gtav, english, tamil"
sets gametype "PVP"
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
add_ace group.admin webadmin allow
add_principal identifier.steam:1100001125df1d2 group.admin
add_principal identifier.steam:110000137202245 group.admin
add_principal identifier.steam:11000013f20abfe group.admin
add_principal identifier.steam:1100001416e272d group.admin
stop webadmin
set steam_webApiKey "1CDE1838DBE32899632D1228A2DB8E7C"
set sv_UseDirectListing false
sets locale "en-GB"
set sv_listingIPOverride "139.99.68.44"
